.author {
    color: beige;
}

.author a {
    color: beige;
}

body {
    background-color: #222222;
    padding-top: 60px;
    padding-bottom: 60px;
}

.well {
    background-color: #25272a;
    color: white;
    padding-top: 5px;
}

.well h1 {
    font-size: 1.6em;
}

.container-left {
    margin: 0 auto;
}

.copyright {
    color: #ffffff;
}

.footer {
    background: transparent;
    text-align: center;
}

.footer a {
    color: beige;
}

.navbar {
    background-color: #000000;
    border-color: #21618c;
    color: white;
}

.navbar-fixed-top {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    color: #ffffff;
}

.pagination {
    color: #ffffff;
}

.sidebar h1 {
    color: beige;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

div .post-date {
    font-size: smaller;
    text-align: right;
}

code {
    color: #ffffff;
    background-color: #515151;
}
