.author {
    color: #d8d4cf;
}

.author a {
    color: #d8d4cf;
}

body {
    background-color: #1a1c1d;
    padding-top: 60px;
    padding-bottom: 60px;
}

blockquote {
    font-size: 14px;
    font-style: italic;
}

.well {
    background-color: #1e2021;
    border-color: rgb(56, 61, 63);
    color: #d8d4cf;
    padding-top: 5px;
}

.well blockquote {
    border-color: #21618c;
}

.well h1 {
    font-size: 1.6em;
}

.iconwell {
    font-size: 35px;
}

.container-left {
    margin: 0 auto;
}

.copyright {
    color: #d8d4cf;
}

.footer {
    background: transparent;
    text-align: center;
}

.footer a {
    color: #d8d4cf;
}

.navbar {
    background-color: #000000;
    border-color: #2772a4;
    color: #d8d4cf;
}

.navbar-fixed-top {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    color: #d8d4cf;
}

.pagination {
    color: #d8d4cf;
}

.sidebar h1 {
    color: #d8d4cf;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

div .post-date {
    font-size: smaller;
    text-align: right;
}

code {
    color: #d8d4cf;
    background-color: #515151;
}
