body {
    background-color: #222222;
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: beige;
}

.sidebar h1 {
    color: beige;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well {
    background-color: #25272a;
    color: white;
}

.well h1 {
    color: beige;
    font-size: 1.3em;
}

.author {
    color: beige;
}

.author a {
    color: beige;
}

.pagination {
    color: #ffffff;
}