<h1>Currently held courses (chronological order)</h1>
<ul>
  <li><a href="{{ site.baseurl }}/courses/oop">[OOP 2RL] Object Oriented Programming / Objektno orijentisano programiranje</a></li>
  <li><a href="http://www.programskijezici.matf.bg.ac.rs/ProgramskeParadigmeI.html">[PP 3I] Program Paradigms / Programske paradigme</a></li>
  <li><a href="{{ site.baseurl }}/courses/rm">[RM 4I] Computer Networks / Računarske mreže</a></li>
  <li><a href="{{ site.baseurl }}/courses/fp">[FP 4I] Functional Programming / Funkcionalno programiranje</a></li>
  <li><a href="http://www.verifikacijasoftvera.matf.bg.ac.rs/">[VS 5I] Software Verification / Verifikacija softvera</a></li>
</ul>

<!-- 
<h1>Previously held courses</h1>
<ul>
</ul> 
-->
