<h1>Currently held courses</h1>
<ul>
  <li><a href="{{ site.baseurl }}/courses/fp">[FP 4I] Functional Programming</a></li>
  <li><a href="{{ site.baseurl }}/courses/vs">[VS 5IR] Software Verification</a></li>
  <li><a href="{{ site.baseurl }}/courses/rs2">[RS2 5IR] Software Development 2</a></li>
</ul>


<h1>Previously held courses</h1>
<ul>
  <li><a href="{{ site.baseurl }}/courses/oop">[OOP 2I] Object-Oriented Programming</a></li>
  <li><a href="{{ site.baseurl }}/courses/pp">[PP 3I] Program Paradigms</a></li>
  <li><a href="{{ site.baseurl }}/courses/rm">[RM 4I] Computer Networks</a></li>
</ul> 

