<h1>Courses (in Serbian)</h1>
<ul>
  <li><a href="{{ site.baseurl }}/courses/fp">[FP 4I] Functional Programming - Funkcionalno programiranje</a></li>
  <li><a href="{{ site.baseurl }}/courses/rm">[RM 4I] Computer Networks - Računarske mreže</a></li>
  <li><a href="http://www.programskijezici.matf.bg.ac.rs/ProgramskeParadigmeI.html">[PP 3I] Program Paradigms - Programske paradigme</a></li>
</ul>

<h1>Past courses</h1>
<ul>
  <li><a href="{{ site.baseurl }}/courses/oop">[OOP 2RL] Object Oriented Programming - Objektno orijentisano programiranje</a></li>
</ul>
