{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-6">
          <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">[{{ page.course }}] {{ page.title }}</a></h1>
            {% if site.comments and page.comments %}
                {% if site.disqus != '' %}
                <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p>
                {% elsif site.isso != '' %}
                <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
                {% endif %}
            {% endif %}
            <div class="post-content">
            {{ content }}
            </div>
                <div class="post-date">
                    {{ page.date | date: "%b %-d, %Y" }} 
                </div>
            </div>
          </div>
          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl }}{{ page.next.url }}" class="next">Newer Post</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl }}{{ page.previous.url }}" class="previous">Older Post</a>
              {% endif %}
          </div>
          <div>
            {% if page.comments %}
                {% if site.disqus != '' %}
                <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                        this.page.url = "{{ site.baseurl }}";
                        this.page.identifier = "ivan-ristovic";
                        };
                        (function() { 
                        var d = document, s = d.createElement('script');
                        s.src = 'https://https-ivan-ristovic-github-io.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% elsif site.isso != '' %}
                <section id="isso-thread"></section>
                {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-3 hidden-xs">
            {% include sidebar-right.html %}
        </div>
    </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}
